
/* General settings */
* {
    margin: 0;
    padding: 0;
}


/* Main body container */
.main-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Nav */
.nav-container {
    flex: 0.5;
    display: flex;
    align-items: center;
    background-color: darkcyan;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    background-color: lightskyblue;
    border-top-style: 2px dotted darkcyan;
    border-right-style: 2px solid darkcyan;
    border-bottom-style: 2px dotted darkcyan;
    border-left-style: 2px solid darkcyan;
    border-radius: 10px 200px;
}




/* Hero image */
.hero-image {
    flex: 2;
    flex-direction: row;
    display: flex;
    background-color: darkcyan;
    
}

.hero-left {
    flex: 1;
}

.hero-center {
    flex: 1;
}

.hero-right {
    flex: 1;
}



/* Article content section */
.main-section {
    flex: 7;
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
}

.article {
    flex: 6;
}

.aside-left {
    flex: 2;
    width: 50;
}

.aside-right {
    flex: 2;
}




/* Footer */
.footer {
    flex: 0.5;
    background-color: darkcyan;
}




* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit], .aside-left {
    width: 100%;
    margin-top: 0;
  }
}